* {
  padding: 0px;
  margin: 0px;
  /* // box-sizing: border-box; */
  font-family: "Roboto", sans-serif;
}
.react-window {
  width: 80%;
  margin: auto;
  margin-bottom: 15px;
}
.react-window h1 {
  text-align: center;
  color: #404040;
}
.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(142, 227, 238);
  padding: 15px;
}
.header .col-search input,
.header .other-search input {
  padding: 8px;
  border: 1px solid transparent;
  outline: none;
  border-radius: 3px;
}
